<form class="container" [formGroup]="registerForm" (ngSubmit)="submitForm()">
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="email" 
      class="form-control" 
      id="exampleInputEmail1" 
      aria-describedby="emailHelp"
      formControlName="name"
      name="name"
      >
    </div>
    
    <div class="mb-4" style="color: red;" *ngIf="(registerFormControls.name.touched) ">
      <span>name is requried</span>
    </div>


    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email</label>
      <input type="email" 
      class="form-control" 
      id="exampleInputPassword1"
      formControlName="email"
      name="email"
      >
    </div>

    <div class="mb-4" style="color: red;" *ngIf="(registerFormControls.email.touched && !pattran )  ">
      <span>email is requried</span>
    </div>


    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">User Name</label>
      <input type="text" 
      class="form-control" 
      id="exampleInputPassword1"
      formControlName="userName"
      name="userName"
      >
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" 
      class="form-control" 
      id="exampleInputPassword1"
      formControlName="password"
      name="password"
      >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input type="password" 
      class="form-control" 
      id="exampleInputPassword1"
      formControlName="confirmPassword"
      name="confirmPassword"
      >
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>